@page "/sign-up"
@inject HttpClient Http

<PageTitle>Sign-up</PageTitle>
<h1>Sign-up</h1>

<div class="sign-up-wrapper container">
    <form>
        <div class="row">
            <label class="col-2">Email</label>
            <div class="col-6">
                <input class="form-control sign-up-input" type="text" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <label class="col-2">Password</label>
            <div class="col-6">
                <input class="form-control sign-up-input" type="password" placeholder="Password" />
            </div>

        </div>
        <div class="row">
            <label class="col-2">Confirmation</label>
            <div class="col-6">
                <input class="form-control sign-up-input" type="password" placeholder="Confirmation" />
            </div>
        </div>

        <button class="btn btn-primary">Sign-up</button>
    </form>
</div>

@code {
    
}
